#signin{
    background-color: #093d20 !important;
    text-shadow: 2px 2px 4px #000000;
}

#signup{
    background-color: rgb(68, 73, 68) !important;
    text-shadow: 2px 2px 4px #000000;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
#t{
    text-shadow: 2px 2px 4px #000000;
    background-color: #555050 !important;
    margin-bottom: 1pc;
}
#t2{
    background-color: rgb(38, 112, 57) !important;
    margin-bottom: 1pc;
}
#t3{
    background-color: rgb(38, 112, 57) !important;
}
#btlogin{
    background-color: rgb(50, 250, 93);
   
}
.apps :hover{
    transform:  scale(1.03);
    
  /* zoom in */
  transition: all .4s ease;
  cursor: pointer;
  border-radius: 12px !important;
}
#quote-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(
    120deg,
    rgba(41, 128, 185, 0.8),
    rgba(142, 68, 173, 0.8)
  );
}

#centered-heading {
  text-align: center;
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#QuoteTitle {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}